SESSION_SECRET="foobar"
PUBLIC_STORE_DOMAIN=example.myshopify.com
PUBLIC_STOREFRONT_API_TOKEN=1234567890asdfghjklqwertyuiopzxcvbnm
PRIVATE_STOREFRONT_API_TOKEN=asdf_12345asdfg4567ghjk7890jkl
PUBLIC_STOREFRONT_API_VERSION=2026-04